.container
{
    overflow: hidden;
}

.container
{
    width: 50vw;
    height: 30vh;
    position: relative;
    display: grid;
}

.container:last-of-type
{
    margin-top: 5em;
    margin-bottom: 5em;
    overflow: visible;
}

vamtiger-skew-container
{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

vamtiger-skew-container
{
    position: absolute;
    left: 0;
}