vamtiger-skew-container[data-right]
{
    z-index: 0;
}

vamtiger-skew-container[data-center]
{
    z-index: 1;
}

vamtiger-skew-container[data-left]
{
    z-index: 2;
}

vamtiger-skew-container[data-vertical-right-up]
{
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.5));
}

vamtiger-skew-container[data-vertical-right-up] [slot="vamtiger-skew-container"]
{
    transform: skew(0deg, 5deg);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.5));
}